<section ng-controller="AppointCtrl">

<div id="appoint_main" style="margin-left:20px;">
 <h2>Unit</h2>

<div><b>ชื่อลูกค้า :</b> {{unit.customer_name}} </div>
<div><b>Item Id :</b> {{unit.item_id}} </div>
<div><b>Item Name :</b> {{unit.item_name}} </div>
<div><b>Room Number :</b> {{unit.room_no}} </div>
<div><b>Unit Number :</b> {{unit.unit_no}} </div>
<div><b>Floor :</b> {{unit.floor}}</div>
<div><b>สถานะการโอนกรรมสิทธ์ : {{authorize_status.name}}</b></div>
<div><b>วัตถุประสงค์ของการซื้อ :{{payment_type_obj.name}}</b></div>

    <h2>Create Appointment</h2>
   <!-- <button ng-click="togglePromotion()" class="btn btn-inverse">Promotions</button>-->
   <a href="#/bills/print/{{transaction.template_id}}/{{transaction.unit_id}}" target="_blank" class="btn btn-primary">ดูตัวอย่างใบค่าใช้จ่าย</a>
    <div >
        <ul>
            <li ng-repeat="promotion in promotions">
                <input type="checkbox" ng-model="promotion.checked" ng-checked="promotion.checked">
                {{promotion.Name_promotion}}
            </li>
        </ul>
    </div>
    <form>
        <div class="appoint_text" style="margin-bottom:10px;">
            <span style="margin-right:5px;">ประเภทการติดต่อ : </span>
            <span style="margin-right:37px;">
                <span><input type="radio" value="0"  ng-model="type" checked /> โทรศัพท์</span>
                <span><input type="radio" value="1"  ng-model="type" /> ส่งข้อความ</span>
                <span><input type="radio" value="2"  ng-model="type"/> ส่งอีเมล์</span>
            </span>
            <span style="margin-right:10px;">มอบฉันทะ : </span>
            <span><input type="checkbox"  ng-model="authorize"  ng-false-value="0" ng-true-value="1" ng-change="updateIsAuthorize()"></span>
        </div>
        <div class="appoint_text">
            <span style="margin-right:41px;">วันที่แจ้ง : </span>
            <span style="margin-right:10px;">
            	<!--<input type="text" required placeholder="Call Date" ng-model="calldate">-->
                <div class="control-group input-append">
                  <input type="text" ng-model="calldate" data-date-format="dd/mm/yyyy" class="datepicker" bs-datepicker>
                  <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                </div>
            </span>
            <span style="margin-right:73px;">เวลา : </span>
            <span style="margin-right:10px;">

            	<!--<input type="text" required placeholder="Call Time" ng-model="calltime">-->
                <div class="control-group input-append">
                  <input type="text" ng-model="calltime" bs-timepicker>
                  <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
                </div>
            </span>            
            <span style="margin-right:11px;display:none;">ระยะเวลาที่โทร : </span>
            <span style="margin-right:10px;display:none;"><input type="text" style="display:none;" required placeholder="ระยะเวลาที่โทร" ng-model="callduration" value="0"></span>
            
        </div>
        <div class="appoint_text">
            <span style="margin-right:36px;">กรรมสิทธิ์ : </span>
            <span style="margin-right:51px;"><input type="text" required placeholder="ชื่อกรรมสิทธิ์" ng-model="people"></span>
            <span style="margin-right:41px;">วันนัดโอน : </span>
            <span style="margin-right:10px;">
            	<div class="control-group input-append">
                  <input type="text" ng-model="appointdate" data-date-format="dd/mm/yyyy" class="datepicker" bs-datepicker>
                  <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                </div>
            	<!--<input type="text" required placeholder="Appoint Date" ng-model="appointdate" width="70px">--></span>
            <span style="margin-right:28px;" ng-show="!is_authorize">เวลานัดโอน : </span>
            <span style="margin-right:10px;"  ng-show="!is_authorize">
                <div class="control-group input-append"  ng-show="!is_authorize">
                  <input type="text" ng-model="appointtime" bs-timepicker>
                  <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
                </div>

            	<!--<input type="text" required placeholder="Aoppoint Time" ng-model="appointtime" width="70px">-->

            </span>
            
        </div>
        <div class="appoint_text">
           <span style="margin-right:8px;">สถานะการโทร : </span>
            <span style="margin-right:50px;">
				<select  id="select_status" ng-model="status">
						<!-- <option value="0">----กรุณาเลือกสถานะการโทร----</option> -->
						<option value="0">ไม่รับโทรศัพท์</option>
						<option value="1">รับโทรศัพท์</option>
						<option value="2">สายไม่ว่าง</option>
				</select>
			</span>
            <span style="margin-right:10px;display:none;" >ประเภทการโอน : </span>
            <span style="margin-right:50px;display:none;">
                <select id="select_status"  ng-model="payment_type_obj" ng-change="updatePaymentType()"  ng-options="t.name for t in payment_types">
						
				</select>
            </span>
            <span style="margin-right:21px;">สถานะการนัด : </span>
            <span style="margin-right:10px;">
                <select id="select_status" ng-model="coming_status">
						<!-- <option value="0">----กรุณาสถานะของการนัด----</option> -->
						<option value="0">มาแน่นอน</option>
						<option value="1">ไม่มา</option>
						<option value="2">ยังไม่ตัดสินใจ</option>
				</select>
            </span>
            
        </div>
        <div class="appoint_text">
             <span style="margin-right:10px;">วันเซ็นสัญญา : </span>
            <div class="control-group input-append">
               
                  <input type="text" ng-model="contractdate" data-date-format="dd/mm/yyyy" class="datepicker" bs-datepicker>
                  <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
            </div>
            <span style="margin-right:10px;">วันชำระเงิน : </span>
            <div class="control-group input-append">
                
                  <input type="text" ng-model="paymentdate" data-date-format="dd/mm/yyyy" class="datepicker" bs-datepicker>
                  <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
            </div>
            
            <span style="margin-right:67px;">อื่นๆ : </span>
            <span style="margin-right:166px;"><input type="text"  ng-model="remark"></span>
            <span><button ng-click="createAppoint()" class="btn btn-danger">Create</button></span>
            <span><button ng-click="" class="btn">Cancel</button></span>
        </div>
        <div class="appoint_text"></div>
        <div class="appoint_text"></div>
        <div class="appoint_text"></div>
        <div class="appoint_text"></div>  
    </form>



 <h2>Appoint Log</h2>
<table class="table">
	<tr style="font-weight:bold;">
		<!--<td>ID</td>
		<td>วันที่แจ้ง</td>
		<td>เวลาที่แจ้ง</td>
		<td>ระยะเวลาที่โทร</td>
		<td>กรรมสิทธิ์</td>
		<td>ประเภทการติดต่อ</td>
		<td>สถานะการโทร</td>
		<td>ประเภทการโอน</td>
		<td>สถานะการนัด</td>
		<td>วันนัดโอน</td>
		<td>เวลานัดโอน</td>
		<td>มอบฉันทะ</td>-->
        <td>ID</td>
        <td>เวลานัด</td>
        <td>เวลาโทร</td>
        <td>กรรมสิทธิ์</td>
        <td>log.type</td>
        <td>log.status</td>
        <td>log.payment_type</td>
        <td>สถานะการมา</td>
        <td>เวลาตามสัญญา</td>
        <td>เวลาชำระเงิน</td>
        <td>มอบฉันทะ</td>
	</tr>
	<tr ng-repeat="log in logs | orderBy:'-id':reverse">
		<td>{{log.id}}</td>
		<td>{{log.appoint_time}}</td>
		<td>{{log.call_time}}</td>
		<td>{{log.people}}</td>
		<td>{{log.type}}</td>
		<td>{{log.status}}</td>
		<td>{{log.payment_type}}</td>
		<td>{{log.coming_status}}</td>
		<td>{{log.contract_time}}</td>
		<td>{{log.payment_time}}</td>
		<td>{{log.authorize}}</td>
	</tr>
<table>
</div>
</section>