<section ng-controller="BillListCtrl" class="container">
	
	<div class="row">
		<div class="span8">
			<h2>Units</h2>
			<table class="table">
				<thead>
					<tr>
						<td>Item ID</td>
						<td>Name</td>
						<td>Floor</td>
						<td>Print - View</td>
					</tr>
				</thead>
				<tbody id="units-list">
					<tr ng-repeat="unit in units">

						<td><input name="unit_ids[]" type="checkbox" checked value="{{unit.id}}"/>{{unit.item_id}}
						</td>
						<td>{{unit.item_name}}</td>
						<td>{{unit.floor}}</td>
						<td class="preview"><a href="#/bills/preview/{{templateId}}/{{unit.id}}" target-id="{{unit.id}}">edit</a>


						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
		<div class="span4">
			<input ng-model="testTemp" type="text"/>
			<h2>Templates : {{testTemp}}</h2>
			<div ng-repeat="tp in templates" class="template thumb" style="background-color:{{tp.color}}">
				<input type="radio" ng-model="templateId" name="template_id" value="{{tp.id}}" ng-change="updateTemplateId(tp.id)"/>{{tp.id}} {{tp.name}}
			</div>
		</div>
	</div>
	<button class="btn btn-inverse" ng-click="print()">Preview</button>
	<button class="btn btn-danger" ng-click="save()">Save</button>


</section>
<style type="text/css">
	#main-menu
	{
		display:none;
	}

</style>