<section ng-controller="HomeCtrl" class="container">
	This is demo
	<ul>
		<li><a href="simulate-call.php">จำลองการโดนเรียกจาก ระบบคัดกรองลูกค้า</a></li>
		<li><a href="simulate-call.php">ดู Report ยาวโพดๆ</a></li>
		<li><a href="#/templates">จัดการ Template</a></li>
	</ul>

	<h2>Search</h2>
	<form>
		<label>UNIT ID</label>
		<input type="text" ng-model="search.unit" />
		<label>Project</label>
		<select ng-model="search.project" >
			<option  value="*">
				ALL
			</option>
			<option ng-repeat="type in project_types" value="{{type.value}}">
				{{type.name}}
			</option>
		</select>
		<label>Room Type</label>
		<select ng-model="search.type" >
			<option  value="*">
				ALL
			</option>
			<option ng-repeat="type in room_types" value="{{type.value}}">
				{{type.name}}
			</option>
		</select>
		<label>Template</label>
		<select ng-model="search.template" >
			<option  value="*">
				ALL
			</option>
			<option ng-repeat="type in templates" value="{{type.id}}">
				{{type.name}}
			</option>
		</select>
		<button class="btn" ng-click="search()">Search</button>
		search query is {{search.unit}} {{search.project}} {{search.type}}
	</form>
	<h2>Unit</h2>
	<button ng-click="next()">Next</button>
	<button ng-click="back()">Back</button>
	<form>
		<table class="table">
			<tr ng-repeat="unit in units">

				<td><input name="unit_ids[]" type="checkbox" checked value="{{unit.id}}"/>{{unit.id}}
					<input type="hidden" name=
					"template_ids[]" value="{{unit.template_id}}"/>
				</td>
				<td>{{unit.item_id}}</td>
				<td>{{unit.item_name}}</td>
				<td>{{unit.floor}}</td>
				<td>{{unit.unit_no}}</td>
				<td>{{unit.status}}</td>
				<td>{{unit.house_size}}</td>
				<td>{{unit.land_size}}</td>
				<td><!--<a href="#/bills/{{unit.billId}}/edit">edit</a>--></td>
			</tr>
		</table>
		<button ng-click="match()">Match With Template</button>

	</form>

</section>