<section ng-controller="PaymentCtrl" class="container">

	<h2>Create Payment</h2>
	<form>
		<input type="text" required placeholder="Payment Name" ng-model="paymentName">
		<input type="text" required placeholder="Payment Description" ng-model="paymentDescription">
		<input type="text" required placeholder="Bank Formula" ng-model="formulaBank">
		<input type="text" required placeholder="Company Formula" ng-model="formulaCompany">
		<input type="text" required placeholder="Client Formula" ng-model="formulaClient">

		<button class="btn" ng-click="create()">Create</button>
	</form>
	<h2>Payments</h2><a href="#/variables" class="btn btn-danger">ตัวแปร</a>
	<table class="table">
		
			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>Description</td>
				<td>Formula Bank</td>
				<td>Formula Company</td>
				<td>Formula Client</td>
			</tr>
		
			<tr id="payment-{{payment.id}}" ng-click="edit('payment-'+payment.id, payment.id)" class="payment" ng-repeat="payment in payments | orderBy:'-id'">
				<td>
					<span>{{payment.id}}</span>
					<input type="button" value="Close" ng-click="editSubmit('payment-'+payment.id, payment.id)"/>
				</td>
				<td>
					<span>{{payment.name}}</span>
					<input ng-model="payment.name"/>
				</td>
				<td>
					<span>{{payment.description}}</span>
					<input ng-model="payment.description"/>
				</td>
				<td>
					<span>{{payment.formulas[0]}}</span>
					<input ng-model="payment.formulas[0]"/>
				</td>
				<td>
					<span>{{payment.formulas[1]}}</span>
					<input ng-model="payment.formulas[1]"/>
				</td>
				<td>
					<span>{{payment.formulas[2]}}</span>
					<input ng-model="payment.formulas[2]"/>
				</td>

			</tr>
	</table>
</section>
<style>
	.payment input
	{
		display: none;
	}

</style>