<section ng-controller="BillPrintCtrl" class="container">
	<section ng-repeat="bill in bills">
	<!--- Start Loop Print-->	
		<div class="row" >
			<div class="span12" align="center" style="background-color: #F5F5F5;"><h4>ใบค่าใช้จ่ายสำหรับเดือน {{bill.AppointmentMonth}} เท่านั้น</h4></div>
			<div class="span12" align="center"> <h4>โครงการไอดีโอ มอร์ฟ 38 </h4>
			</div>
			<div  class="span12" align="center">
				<strong><p>บริษัท อนันดา ดีเวลลอปเม้นท์ ทู จำกัด</p>
				<p>{{bill.companyAddress}} {{bill.getName("companyPhone")}}.{{bill.companyPhone}} {{bill.getName("companyFax")}}.{{bill.companyFax}}</p></strong>
			</div>
		</div>
		<div style="border-bottom: groove"></div>
		</div><br><br>
		
		<div class="row">
		<font size="2">
		<div class="offset6 span1">UNIT NO.</div>
		<div class="span2" style="border-bottom-style:groove;" align="center">{{bill.UnitNumber}}</div>
		<div class="span1">บ้านเลขที่</div>
		<div class="span2" style="border-bottom-style:groove;" align="center">{{bill.HouseNumber}}</div>
		
		<div class="offset6 span1">แบบบ้าน</div>
		<div class="span2" style="border-bottom-style:groove;" align="center">{{bill.HouseType}}</div>
		<div class="span1" style="font-size:12px;">พื้นที่ใช้สอย /ต.ร.ม</div>
		<div class="span2" style="border-bottom-style:groove;" align="center">{{bill.HouseSize}}</div>
		</font>
		</div>
		
		
		
		<div class="container" ><br>
			<div class="row">
				<font size="2">
					<div class="span1"><b>วันที่แจ้ง</b></div>
					<div class="span5" style="border-bottom: groove;">{{bill.DocumentDate}}</div>
					<div class="span1"><b>จาก</b></div>
					<div class="span5" style="border-bottom: groove;">{{bill.SaleName}}</div><br>
					<div class="span1"><b>วันนัดโอน</b></div>
					<div class="span5" style="border-bottom: groove;">{{bill.PayDate}}</div>
					<div class="span1"><b>เวลา :</b></div>
					<div class="span5" style="border-bottom: groove;">{{bill.PayTime}}</div><br>
					<div class="span1"><b>เรียน</b></div>
					<div class="span5" style="border-bottom: groove;">{{bill.CustomerName}}</div>
					<div class="span1"><b>โทร. :</b></div>
					<div class="span5" style="border-bottom: groove;">{{bill.CustomerTel}}</div><br><br>
					<div class="span12" style="border-bottom-style:groove;"></div>
					
				</div>
			<div><h4>1.ราคาและวิธีโอนกรรมสิทธิ์</h4></div>
				<div class="container" >
					<div class="row" >
						<font size="2">
						<div class="span1"><b><u>1.1 ราคา</u></b></div>
						<div class="span3">ราคาตามสัญญา</div>
						<div class="span1" align="right">{{bill.PriceOnContract | currency:"" | zeroDash}}</div>
						<div class="span1" align="center">บาท</div>
						
						<div class="span6"><b><u>1.2 วิธีการโอนกรรมสิทธิ์</u></b></div>
						<div class="offset1 span3">ราคาต่อตารางเมตร</div>
						<div class="span1" align="right">{{bill.PricePerArea | currency:"" | zeroDash}}</div>
						<div class="span1" align="center">บาท</div>
						<div class="span6">โอนสด</div>
						
						<div class="offset1 span3">หัก ส่วนลดพิเศษ</div>
						<div class="span1" align="right">{{ bill.SpecialDiscount | currency:"" | zeroDash}}</div>
						<div class="span1" align="center">บาท</div>
						<div class="span2">ใช้สินเชื่อ  ธนาคาร/สาขา</div>
						<div class="span4">{{bill.BankLoanName | zeroDash}}</div>
						
						<div class="offset1 span3">พื้นที่ตามสัญญา</div>
						<div class="span1" align="right">{{bill.ContractSpace | currency:"" | zeroDash}}</div>
						<div class="span1" align="center">ตร.ม.</div>
						<div class="offset1 span2">อนุมัติค่าห้อง</div>
						<div class="span2" align="right">{{bill.BankLoanRoom | zeroDash}}</div>
						<div class="span1">บาท</div>
						
						
						<div class="offset1 span3">พื้นที่จริง</div>
						<div class="span1" align="right">{{bill.ActualSpace | up2area }}</div>
						<div class="span1" align="center">ตร.ม.</div>
						<div class="offset1 span2">อนุมัติวงเงินค่าประกัน</div>
						<div class="span2" align="right">{{bill.BankLoanInsurance | zeroDash}}</div>
						<div class="span1">บาท</div>
						
						
						<div class="offset1 span3">ส่วนต่างพื้นที่ {{bill.ActualSpace - bill.ContractSpace | up2area }} ตร.ม.</div>
						<div class="span1" align="right">{{bill.DifferenOfSpace | zeroDash}}</div>
						<div class="span1" align="center">บาท</div>
						<div class="offset1 span2">อนุมัติวงเงินค่าตกแต่ง</div>
						<div class="span2" align="right">{{bill.BankLoanDecorate | zeroDash}}</div> 
						<div class="span1">บาท</div> 
						
						
						<div class="offset1 span3">ราคาห้องชุด ณ วันโอน</div>
						<div class="span1" align="right">{{bill.PriceDateOfPayment | zeroDash}}</div>
						<div class="span1" align="center">บาท</div>
						<div class="offset1 span2">อนุมัติวงเงินเอนกประสงค์</div>
						<div class="span2" align="right">{{bill.BankLoanMulti | zeroDash}}</div>
						<div class="span1">บาท</div>
						
						
						<div class="offset1 span2">หัก  ชำระแล้ว</div>
						<div class="span2" align="right" style="border-bottom-style:groove;">{{bill.PaidAmount  | currency:"" | zeroDash}}</div>
						<div class="span1" align="center">บาท</div>
						<div class="offset1 span2">อนุมัติวงเงินอื่น ๆ </div>
						<div class="span2" align="right" style="border-bottom-style:groove;">{{bill.BankLoanOther | zeroDash}}</div>
						<div class="span1">บาท</div>
						
						
						<div class="offset1 span2"><b>ค่าห้องชุดต้องชำระ</b></div>
						<div class="span2" align="right" style="border-bottom-style: double;"><b>{{bill.PriceRoomOfPayment | zeroDash}}</div>
						<div class="span1" align="center">บาท</div>
						<div class="offset1 span2">วงเงินจำนองรวม</div>
						<div class="span2" align="right" style="border-bottom-style: double;">{{bill.SumBankLoan | zeroDash}}</div>
						<div class="span1">บาท</div>
						<br><br>
							
						<div class="span12" style="border-bottom-style:groove;">-</div>
						</font>
					</div>
				</div>
				
				
			   <div><h4>2.ค่าใช้จ่าย ณ วันโอน</h4></div>
					<table border = "1" align="center" width ="100%" hight ="30%"  cellspacing = "0"  style="font-size:13px" >
             			 
                    	 <thead>
		                        <tr>
								  <th width="5%">No.</th>
		                          <th width="30%" align="center">ค่าใช้จ่าย ณ วันโอน</th>
								  <th width="20%" align="center">อัตรา</th>
		                          <th width="10%">บริษัท</th>
		                          <th width="10%">ธนาคาร</th>
		                          <th width="10%">ลูกค้า</th>
		                        </tr>
		                 </thead>
		                          <tr ng-repeat="payment in bill.payments | orderBy:'order'">
		                                    <td align="center" style="">{{payment.order}}.</td>
											<td style="padding-left:10px;">{{payment.name}}</td>
											<TD align="center">{{payment.description}}</TD>
		                                    <TD align="center">{{bill.getFormulaValue(payment.formulas[0]) | zeroDash }}</TD>
		                                    <TD align="center">{{bill.getFormulaValue(payment.formulas[1]) | zeroDash }}</TD>
		                                    <TD align="center">{{getFormulaValue(bill.variables, payment.formulas[2]) | zeroDash }}</TD>
		                                 
		                          </tr>
								  <tr>
                        			<td align="center" colspan="3"><strong>รวมค่าใช้จ่ายทั้งสิ้น (บาท)</strong> </td>
                                    <td align="center"><strong>{{getSumCompanyPayment(bill.variables, bill.payments) | zeroDash }}</strong></td>
                                    <td align="center"><strong>{{getSumBankPayment(bill.variables, bill.payments) | zeroDash }}</strong></td>
                                    <td align="center"><strong>{{getSumCustomerPayment(bill.variables, bill.payments) | zeroDash }}</strong></td>
								 </tr>
								  </table>			
		                                    
		                                    
		                          
		                        
					<br>
					<div class="row">
					<div class="span12" style="border-bottom-style:groove;"></div>
					</div>
					<div><h4>3.วิธีการชำระเงิน</h4></div>
						<div class="row" style="font-size:13px;">
						
						<div class="span5">3.1 ชำระค่าห้องชุดและมิเตอร์ไฟฟ้า/น้ำประปา(ถ้ามี) ชำระเป็น</div>
						<div class="span7" align="right">-</div>
						<div class="offset1 span8">3.1.1. แคชเชียร์เช็กสั่งจ่าย <b>{{bill.BankLoanName}}</b> </div>
						<div class="span3" align="right">{{bill.getShowBankPayment() | zeroDash}}</div>
						<div class="offset1 span8">3.1.2. แคชเชียร์เช็กสั่งจ่าย <b>"{{bill.CompanyName}}"</b> </div>
						<div class="span3" align="right">{{bill.getShowCompanyPayment() | zeroDash}}</div>
						<div class="span3">3.2 ชำระค่าส่วนกลาง </div>
						<div class="span8">เป็นแคชเชียร์เช็คสั่งจ่าย <b>"นิติบุคคล{{bill.ProjectName}}"</b></div>
						<div class="span1" align="right">{{bill.getPaymentBase().share_payment | zeroDash}}</div>
						<div class="span3">3.3 ชำระเงินสมทบกองทุนส่วนกลาง</div>
						<div class="span8">เป็นแคชเชียร์เช็คสั่งจ่าย <b>"นิติบุคคล{{bill.ProjectName}}"</b></div>
						<div class="span1" align="right">{{bill.getPaymentBase().share_fund_payment | zeroDash}}</div>
						<div class="span7">3.4 ชำระค่าธรรมเนียมโอน 1% กรณีกู้+ค่าจำนองอีก 1% เป็นแคชเชียร์เช็คสั่งจ่าย </div>
						<div class="span4"><b>"กระทรวงการคลัง"</b></div>
						<div class="span1" align="right">{{bill.getMinistryPayment() | zeroDash}}</div>
						<div class="span10" align="right"><b>และแบ่งเป็นเงินสด</b></div>
						<div class="span2" align="right" style="border-bottom-style:groove;">{{bill.getCashPayment() | zeroDash}}</div>
						<div class="span10" align="right"><b>รวมเป็นเงินที่ลูกค้าต้องชำระ</b></div>
						<div class="span2" align="right" style="border-bottom-style:double"><b>{{
						 bill.getCashPayment() + bill.getMinistryPayment() + bill.getPaymentBase().share_fund_payment + bill.getPaymentBase().share_payment + bill.getShowCompanyPayment()  + bill.getShowBankPayment()| zeroDash}}</b></div>
						
		                </div>
					
						<br><b><u>*หมายเหตุ</u></b> ขอเป็นแคชเชียร์เช็คที่ทำให้ในกรุงเทพหรือปริมณฑลเท่านั้น ถ้าเป็นต่างจังหวัดต้องเป็นดร๊าฟ ที่่สามารถขึ้นเงินได้ทุกสาขาทั่วประเทศ เท่านั้น
						<p align ="center">***********************************************</p>
						<u><b>เอกสารที่ใช้ในการโอนกรรมสิทธิ์</b></u><br>
						1. สำเนาบัตรประจำตัวประชาชน และสำเนาทะเบียนบ้าน จำนวน 4 ชุด<br>
						2. สำเนาใบทะเบียนสมรส / สำเนาหนังสือยินยอมคู่สมรส / สำเนาใบหย่า /สำเนาใบมรณะบัตร (ถ้ามี)<br>
						3. สำเนาใบเปลี่ยนชื่อ , สกุล(ถ้ามี)<br>
			
						<strong>
							บัญชี &nbsp;"บริษัท อนันดา ดีเวลลอปเม้น ทู จำกัด " ธ.กรุงเทพ/สาขาบางพลี(ออมทรัพย์)เลขที่ 216-4-15529-9 SWIFT CODE: BKKBTHBK <br>
							หรือ &nbsp;&nbsp;&nbsp;"บริษัท อนันดา ดีเวลลอปเม้น ทู จำกัด " ธ.กรุงไทย/สาขาบางพลี(ออมทรัพย์)เลขที่ 254-0-18199-6 SWIFT CODE: KRTHTHBK<br>
							บัญชี:&nbsp; "นิติบุคคลอาคารชุด ไอดีโอ มอร์ฟ38 คอนโดมิเนียม" ธนาคาร...................สาขา.........................................(ออมทรัพย์)เลขที่....................................<br><br>

						</strong>

			
			</div>

	</section>

</section>