<table class="table">
<tr>
	<td>รายการที่</td>
	<td>รหัสโปรโมชั่น</td>
	<td>รายการ</td>
	<td>ประเภทโปรโมชั่น</td>
	<td>Select</td>
	<td>issue On</td>
	<td>Quanitty</td>
	<td>Amount</td>
	<td>issued</td>
<tr>

<tr ng-repeat="promotion in ax_promotions">
	<td></td>
</tr>
<!-- 
[{"item_id":"TH01C106009","promotion_name":"TV","promotion_amount":1},{"item_id":"TH01C106009","promotion_name":"BUFFET","promotion_amount":1},{"item_id":"TH01C106009","promotion_name":"KOREA","promotion_amount":1}]
-->
</table>
<h2>Pre Approve</h2>
<table class="table">
	<tr>
	<td>รายการที่</td>
	<td>รหัสโปรโมชั่น</td>
	<td>รายการ</td>
	<td>ประเภทโปรโมชั่น</td>
	<td>Select</td>
	<td>issue On</td>
	<td>Quanitty</td>
	<td>Amount</td>
	<td>issued</td>
<tr>
<tr ng-repeat="promotion in pre_promotions">
	<td>{{promotion.item_id}}</td>
	<td>{{promotion.preapprove_id}}</td>
	<td>{{promotion.name}}</td>
	<td>{{ 1 }}</td>
	<td>{{promotion.select}}</td>
	<td>Transfer</td>
	<td>{{promotion.amount}}</td>
	<td> - </td>
	<td>{{promotion.issue}}</td>
</tr>
</table>
<h2>Transfer</h2>
<table class="table">
	<tr>
	<td>รายการที่</td>
	<td>รหัสโปรโมชั่น</td>
	<td>รายการ</td>
	<td>ประเภทโปรโมชั่น</td>
	<td>Select</td>
	<td>issue On</td>
	<td>Quanitty</td>
	<td>Amount</td>
	<td>issued</td>
<tr>
<tr ng-repeat="promotion in tranfer_promotions">
	<td>{{promotion.id}}</td>
	<td>{{promotion.condition_id}}</td>
	<td>{{promotion.name}}</td>
	<td>{{promotion.type_id}}</td>
	<td>{{promotion.select}}</td>
	<td>Transfer</td>
	<td>1</td>
	<td>{{promotion.amount}}</td>
	<td>{{promotion.issue}}</td>

</tr>

</table>