<section>
<h2>Search</h2>
	<form>
		<div>
            <span style="margin-right:38px;">Item ID : </span>
            <span style="margin-right:10px;">
                <input type="text" ng-model="search.unit"  ng-change="updateDw()"/> 
            </span>
            <span style="margin-right:10px;">Company :  </span>
             <span style="margin-right:10px;">
                <select ng-model="search.company"  ng-change="updateDw()" >
                    <option  value="*">
                        ALL
                    </option>
                    <option ng-repeat="type in company_types" value="{{type.value}}" >
                        {{type.name}}
                    </option>
                </select>
            </span>
            <span style="margin-right:5px;">Project :  </span>
             <span style="margin-right:10px;">
                <select ng-model="search.project"  ng-change="updateDw()">
                    <option  value="*">
                        ALL
                    </option>
                    <option ng-repeat="type in project_types" value="{{type.value}}">
                        {{type.name}}
                    </option>
                </select>
            </span>
        </div>
        <div>
            <span style="margin-right:10px;">Customer :  </span>
             <span style="margin-right:10px;">
                <!--<select ng-model="search.type" >
                    <option  value="*">
                        ALL
                    </option>
                    <option ng-repeat="type in room_types" value="{{type.value}}">
                        {{type.name}}
                    </option>
                </select>-->
                <input type="text" ng-model="search.customer_name"  ng-change="updateDw()">
            </span>
            <span style="margin-right:37px;">Floor :  </span>
             <span style="margin-right:72px;">
                <input type="text" ng-model="search.floor"  ng-change="updateDw()" />
            </span>
            <span style="margin-right:10px;">
                <a class="btn btn-inverse" ng-href="{{downloadUrl}}">Download</a>
            </span>
        </div>
	</form>

</section>