<section ng-controller="TemplateCreateCtrl" class="container">


	Name <input type="text" ng-model="template.name">
	Color <input type="color" ng-model="template.color">
	
	<table>
		<tr ng-repeat="payment in template.payments">
			<td>{{payment.name}}</td>
			<td>{{payment.description}}</td>
			<td>{{payment.formulas[0]}}</td>
			<td>{{payment.formulas[1]}}</td>
			<td>{{payment.formulas[2]}}</td>
			<td><button ng-click="removePayment(payment.id)" class="btn btn-danger">X</button>
		</tr>
	</table>
	
	<select ng-model="select_payment_id">
		<option ng-repeat="payment in payments" value="{{payment.id}}">
			{{payment.name}}
		</option>
	</select>
	<button ng-click="addPayment(select_payment_id)">Add Payment</button>
	<button ng-click="create()">Create</button>

</section>