<section ng-controller="TemplateEditCtrl" class="container">
<div style="margin:auto; width:500px; ">
    <h2>TemplateEdit</h2>
</div>
<div style="margin:auto; border:1px solid #ccc; padding:10px; padding-bottom:20px; width:500px;">
	<div>
        <span style="margin-right:70px;"> Name : </span>
        <span style="margin-right:10px;">
            <input type="text" ng-model="template.name">
        </span>
    </div>
    <div>
        <span style="margin-right:71px;"> Color : </span>
        <span style="margin-right:10px;">
            <input type="color" ng-model="template.color">
        </span>
    </div>
    <div>
    <span style="margin-right:10px;"> รายการค่าใช้จ่าย : </span>
    <span style="margin-right:10px;">
        <select ng-model="select_payment_id">
            <option ng-repeat="payment in payments" value="{{payment.id}}">
                {{payment.name}}
            </option>
        </select>
    </span>
    <span style="margin-right:10px;">
        <button ng-click="addPayment(select_payment_id)" class="btn btn-primary">Add Payment</button>
    </span>
    </div>
	<table style="margin-top:10px;" >
		<tr ng-repeat="payment in template.payments | orderBy:'order'">
			<td>{{payment.name}}</td>
			<td>{{payment.description}}</td>
			<td>{{payment.formulas[0]}}</td>
			<td>{{payment.formulas[1]}}</td>
			<td>{{payment.formulas[2]}}</td>
			<td><button ng-click="removePayment(payment)" class="btn btn-danger">X</button>
		</tr>
	</table>
    <div style="margin-top:15px;">
        <span style="margin-right:10px;">
            <button ng-click="update()" class="btn btn-inverse">Save</button>
        </span>
        <span style="margin-right:10px; margin-bottom:20px; ">
            <button ng-click="deleteTemplate()" class="btn btn-danger">Delete</button>
        </span>
    </div>
</div>
 <div style="margin:auto; width:70px; margin-top:20px;">
	<a href="#/templates" class="btn btn-warning">Back</a>
</div>
</section>