<section ng-controller="VariablesListCtrl" class="container">

	<h2>Create Variable</h2>
	<input type="text" ng-model="variable.name" placeholder="Variable Name"/>
	<input type="text" ng-model="variable.codename" placeholder="Variable Code Name"/>
	<select ng-model="variable.type">
		<option ng-repeat="type in variablesType" value="{{type.value}}">
			{{type.name}}
		</option>
	</select>
	<input type="text" ng-model="variable.value" placeholder="Default Variable Value"/>
	<button ng-click="create()">Create</button>
	<h2>Variables List</h2>
	<table class="table">
		<tr>
			<td>Name</td>
			<td>CodeName</td>
			<td>Type</td>
			<td>Value</td>
			<td></td>
		</tr>
		<tr ng-repeat="variable in variables">
			<td><a href="#/variables/{{variable.id}}">{{variable.name}}</a></td>
			<td>{{variable.codename}}</td>
			<td>{{variable.type | variableType}}</td>
			<td>{{variable.value}}</td>
			<td><button class="btn" ng-click="delete(variable)">X</button></td>
		</tr>
	</table>
</section>